# From https://github.com/github/gitignore/blob/master/Gradle.gitignore
.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties



# From https://github.com/github/gitignore/blob/master/Java.gitignore
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


# From https://github.com/github/gitignore/blob/master/Global/JetBrains.gitignore
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff:
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jsLibraryMappings.xml

# Sensitive or high-churn files:
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml

# Gradle:
.idea/gradle.xml
.idea/libraries

# Mongo Explorer plugin:
.idea/mongoSettings.xml

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties


*.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/.idea/sonarlint/issuestore/0/a/0a4ca6b90d3dcb6e16da3f9fa11945e406d94c09
/.idea/sonarlint/issuestore/0/b/0b12dde0991f95bc70673b866b79f1b660f768ce
/.idea/sonarlint/issuestore/4/e/4e788dcb8e494c527de56b9a8fa149a020b558ba
/.idea/sonarlint/issuestore/6/d/6d24a0e458b95b294b517c2311fc333fa86b597a
/.idea/sonarlint/issuestore/8/d/8d9fc8525e2b4b442fc8f39f90a43b172eae9e0a
/.idea/sonarlint/issuestore/5/7/57c1bac71fbc6dbe82d0e141212162262354ee93
/.idea/sonarlint/issuestore/5/7/57f8be500a99a9810391386db2f97a2ecd9fe1cf
/.idea/sonarlint/issuestore/7/9/79b437039879795127b9bbe2a9350aa8c271ddaa
/.idea/sonarlint/issuestore/0/1/0121e65fea8db7386383a417b150e4efeebcae5b
/.idea/sonarlint/issuestore/2/0/2068e011e50908d1818ef0188dbde615139c8047
/.idea/sonarlint/issuestore/2/3/2377c8e88c9524ecf9770060a33bde983072ac3a
/.idea/sonarlint/issuestore/9/6/9600c9b9244e1dbf1b4d535343642a88a870e0db
/.idea/sonarlint/issuestore/9/8/9893be685e6e9819429872fa99d9e604d74e05cd
/.idea/sonarlint/issuestore/8/8/8835115c18d2398cdbafdd60266afdf223301820
/.idea/sonarlint/issuestore/a/e/aefaed4d37e180d27b2870e392f5b56cf159053c
/APDescription.txt
/.idea/sonarlint/issuestore/b/7/b76e141de7c7f68529a6881684e2e47d2331a84a
/.idea/sonarlint/issuestore/c/a/caad04949a98c2edd7419e6fabc2faceaae0371f
/.idea/sonarlint/issuestore/d/6/d623f908bcac36d5511ede247f19662fabbd6f36
/.idea/sonarlint/issuestore/d/3/d37356feb29190df80ad2021a5d77ac2b717b426
/.idea/sonarlint/issuestore/d/a/dac42704bc50f4905285b2a1a7067dabcb20bd6f
/.idea/sonarlint/issuestore/d/d/dd7b3350c29c49497756c7f32c69a3bed18b1cba
/.idea/sonarlint/issuestore/e/a/eaebc5a3183d517da91dd6976ac6cb71d61e7dd2
/.idea/sonarlint/issuestore/f/8/f8901203fcd142d5ac1c77fce76d18eda94e31b9
/finalRunData.csv
/MTPs-Main-Container.txt
